.background-container {
  background-image: url('/home/gabriel/projetos/climaAgora/frontend/src/assets/fundo-gelado.svg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
