@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
  --color-bg-dark: #000000;
  --color-bg-darker: #0e0e0e;
  --color-bg-medium: #2b2b2b;
  --color-bg-light: #1a1a1a;
  --color-bg-lightest: #fff;
  --color-bg-gray: #cccccc;
  --color-bg-alert: #FF0000;
  --color-bg-muted: #1c1c1c;

  --color-card-bg: #fff;
  --color-card-border: #1a1a1a;

  --color-primary: #3483fa;
  --color-inverse: #fff;

  --color-text-primary: #636363;
  --color-text-secondary: #0caf1d;
  --color-text-light: #FFFFFF;
  --color-text-muted: #aaa;
  --color-text-gray: #cccccc;

  --color-placeholder: #636363;

  --color-error: #f33;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html,
body {
  background-size: cover;
  background-position: center;
}


main {
  padding: 0 20px;
}

/*-----------------------------------------------------------------*/
/* generic styles */

.container {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}