.glass-card {
    width: 300px;
    height: 350px;
    position: relative;
    background: rgba(215, 152, 249, 0.27);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    box-shadow: inset 0 -3px 15px rgba(255, 255, 255, 0.4),
        inset 0 3px 25px rgba(255, 255, 255, 0.24),
        inset 0 -1px 4px rgba(255, 255, 255, 0.5);
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
}

.content-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    color: white;
}

.weather-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha o ícone e o texto no centro */
}

.right-side {
    display: flex;
    flex-direction: column;
}

.condition {
    font-size: 16pt;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px; /* Espaço para o ícone */
    margin-right: 25px !important;
}

.location span {
    font-size: 12pt;
    font-weight: 700;
    text-transform: uppercase;
}

.card-date {
    font-size: 9pt;
    margin: 4px 0;
}

.card-temperature {
    font-size: 20pt;
    font-weight: 700;
    line-height: 30px;
}

.forecast {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.forecast-item {
    display: flex;
    justify-content: space-between;
    font-size: 9pt;
    color: white;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: rgb(233, 233, 233);
    border-radius: 1px;
}

.weather-info-img {
    width: 100px !important;
    height: 100px !important;
    top: -50px;
    left: 40px !important;
}
