.search-bar {
    display: flex;
    align-items: center;
    padding: 10px 2px;
    margin-top: 10px;
    width: 370px;
    border: 1px solid var(--color-bg-lightest);
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative; /* Necessário para a lista de sugestões aparecer corretamente */
}

.search-input {
    flex: 1;
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
    outline: none;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: 10px;
    color: white;
}

.search-button .icon {
    width: 20px;
    height: 20px;
    stroke: white;
}

/* Estilizando a lista de sugestões */
.suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid var(--color-bg-lightest); /* Borda de sugestões */
    max-height: 200px;
    overflow-y: auto;
    margin-top: 5px;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
    color: black; /* Cor da letra das sugestões */
}

.suggestions-list li:hover {
    background-color: #f0f0f0; /* Cor de fundo quando passar o mouse */
}
